
<div class="wrapper large" data-grid>

    <article class="wrapper" data-cell="1of3 fill" data-grid="column justify">
        <h4>Feature</h4>
        <ul class="seamless">
            <li>Projetos de Ambientes em 3D</li>
            <li>Planos de Corte</li>
            <li>Corte de Chapas</li>
            <li>Bordeamento de Chapas</li>
        </ul>
    </article>

    <article class="wrapper" data-cell="1of3 fill" data-grid="column justify">
        <h4>Feature</h4>
        <ul class="seamless">
            <li>Cunhas de Madeira</li>
            <li>Hastes de Madeira</li>
            <li>Postes de Madeira</li>
        </ul>
    </article>

    <article class="wrapper" data-cell="1of3 fill" data-grid="column justify">
        <h4>Feature</h4>
        <ul class="seamless">
            <li>Dormentes</li>
            <li>Mourões de Madeira</li>
            <li>Prateleiras em MDF</li>
            <li>Mesas em MDF</li>
        </ul>
    </article>

</div>
